.toc {
  width: 280px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 12px;
  line-height: 16px;
  color: #27282c;
}

.tocSkeletonPreloader {
  padding-left: 32px;
  padding-right: 32px;
}

.tocSkeletonPreloaderSVG {
  fill: #f4f4f4;
  animation: animateSkeletonFill 3s linear infinite;
}

@keyframes animateSkeletonFill {
  0% { fill: #f4f4f4; }
  50% { fill: #d4d4d4; }
  100% { fill: #f4f4f4; }
}

.tocList {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tocListEnterActive {
  animation: animateTocListFadeIn .3s forwards;
  overflow: hidden;
}

@keyframes animateTocListFadeIn {
  from {
    height: 0;
    opacity: 0;
  }
}

.tocListEnterDone {
  opacity: 1;
}

.tocListExitActive {
  animation: animateTocListFadeOut .15s forwards;
  overflow: hidden;
}

@keyframes animateTocListFadeOut {
  to {
    height: 0;
    opacity: 0;
  }
}

.tocListExitDone {
  opacity: 0;
  height: 0;
}

.tocItem {}

.tocItemPage.tocItemActive > .tocLink {
  background-color: rgba(40,40,40,0.05);
}

.tocItemActive > .tocList > .tocItemAnchor > .tocLink {
  background-color: rgba(40,40,40,0.05);
}

.tocItemPage {}

.tocItemAnchor {}

.tocLink {
  display: flex;
  align-items: center;
  padding: 8px 32px;
  color: inherit;
  text-decoration: none;
  transition-property: font-weight, background-color;
  transition-duration: .1s;
}

.tocAnchorList {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tocLink:hover {
  background-color: rgba(40,40,40,0.05);
}

.tocLink:focus-visible {
  background-color: rgba(40,40,40,0.05);
}

.tocLinkSelected {
  font-weight: 700;
}

.tocItemIcon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-left: -16px;
  transition: transform .15s;
}

.tocItemIconExpanded {
  transform: rotate(90deg);
}
